@model MVCVeterinaria.Models.Turno

@{
    ViewData["Title"] = "Delete";
}

<h1>Cancelar</h1>

<h3>¿Está seguro que desea cancelar este turno?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mascota.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veterinario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veterinario.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHorario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHorario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cancelar" class="btn btn-danger" /> |
        <a asp-controller="Cliente"
           asp-action="Details"
           asp-route-id="@Model.Mascota.ClienteId"
           class="btn btn-secondary">
            Volver al Cliente
        </a>
    </form>
</div>
